*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Mobile View*/
header {

    background-color: rgb(24, 79, 113);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    color: white;
}
 
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu:hover {
    cursor: pointer;
}

#menu::before{
    content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* When the button is clicked - the open class is toggled*/

.open a {
    display: block;
}

.active::before{
    content: "📍";
}


main {
    display: grid;
}

main h2 {
    text-align: center;
}


body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Sansita", sans-serif;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid steelblue;
    overflow: hidden;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;
}

figcaption {
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: rgb(24, 79, 113);
    color: white;
    padding: 20px;
    text-align: center;
    clear: both;
    margin-top: 50px;
}